
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.App{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.header{
  background-color: #1b1f23;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;;
  padding-right: 2%;
  
  color: white;
}
/* html, body {
	height: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
} */
.header__logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.container{
  display: flex;
  flex-direction: row;
  height: 86vh;
  color: white;
}

.chatList{
background-color: #25292d;
flex:1;
display:flex;
flex-direction: column;
}

.currentChat{

flex:3;
display: flex;
flex-direction: column;
background-color: #393d41;

}
.logedOutScreen{
  background-color: #393d41;
  flex:3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.checkListItem{
  padding: 2%;
  border: 1px solid #2C3639;
height: 80px;
/* width: 95%; */
display: flex;
flex-direction: row;
margin: 5px;
border-radius: 10px;
cursor: pointer;
}

.checkListItem__name{
  margin: 10px;
}

.currentChatUser{
  background-color: #2f3337;
}



.chat__meassages{
  flex:6;

  background-color: #393d41;
  border: 1px solid #393d41;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-family: "SanFrancisco";
  font-size: 1.25rem;
  margin: 0 auto 1rem;
  width: 95%;
  padding: 0.5rem 1.5rem;
  
  

 
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  


  
}

.chat__message__blurb{
  border: 1px solid black;
  background-color: rgb(38, 93, 151);
  margin: 10px;
}

.chat__form {
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: space-around;
  background-color: #43474b;
  height: 50px;

}

.chat__form_input{
flex: 9;
display: flex;
justify-content: center;
align-items: center;
background-color: #43474b;

}

.chat__form_input input{
  height: 70%;
  width: 90%;
  border-radius:  8px; 
  border: 1px solid #43474b;
  background-color: #43474b;
  color: white;
  font-size: 1.5em;
}
.chat__form_input input:focus{
  outline: none;
}


.chat__form__button{
  flex :1;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .chat__form__button button{
    border: none;
    background-color: #43474b;
  
  }




.chat__meassages div {
  
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
  margin-top: 15px;
  margin-bottom: 2px;
  
  
}


.from-me {
  align-self: flex-end;
  background-color: #43474b;
  color: #fff; 
  
 border-radius: 0.5rem;
  
}

.from-them {
  align-items: flex-start;
  color: #43474b;
  background-color: #fff;
  width: fit-content;
  
 border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  
}

.chat__meassages::-webkit-scrollbar {
  width: 12px;               
  background: #1b1f23;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/* .chat__meassages::-webkit-scrollbar-track {
} */

.chat__meassages::-webkit-scrollbar-thumb {
  background-color: #25292d;    
  border-radius: 20px;      
  border: 3px solid 2C3639;  
}

.logedOut{
  background-color: #25292d;
}

.chat__menu__placeholder {
  display:inline-block;
  width: 15px;
} 

.deleted{
  background-color: #9c27b0;
  color: white;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.right{
  align-self: flex-end;
  font-weight: lighter;
  background-color: #393d41;
  color: gray;
  
}
.left {
  align-items: flex-start;
  font-weight: lighter;
  background-color: #393d41;
  color: gray;
  
}

.time{
  font-size: small;
}


.message__date{
  background-color: #43474b;
  color: gray;
  height: fit-content;
  width: fit-content;
  font-size: small;
  align-self: center;
  border-radius: 10px;

}

